* {
  padding: 0;
  margin: 0;
  border:0;
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
}

.video-container{
  width: 80%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content:center;
}

#video-element{
  width: 100%;
  height: 98%;
}

.side-container{
  width: 20%;
  height: 100%;
  border-left: 2px solid black;
  padding: 0 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}

.controls{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.far,.fas {
  font-size: 2rem;
}






#room p{
  height: 1rem;
}

#room{
  display: flex;
  flex-direction: column;
  font-size:0.75rem
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

body{
  font-family: 'Nunito';
  background-color: rgba(85, 85, 85, 0.391);
  height: 100vh;
  width: 100vw;
}


h2{
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

#mario-chat{
  max-width: 100%;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
}

#chat-window{
  overflow: auto;
  background: transparent;
  display: flex;
  flex-direction: column-reverse;
}

#output p{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback{
  height: 40px;
}

#feedback p{
  color: rgb(68, 64, 64);
}

#output strong{
  color: #575ed8;
}

form{
  display: flex;
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

.control-button{
  background:transparent;
  border:none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}


#join-room-button{
  cursor: pointer;
}
#join-room-button:disabled{
  background-color: gray;
  cursor:none
}

.room-form{
  padding: 1rem 0
}

#chat-container{
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

#movie-section{
  height: 45%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden{
  display: none;
}