* {
  padding: 0;
  margin: 0;
  border:0;
}

.container{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
}


.video-container{
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  align-items:center;
  justify-content:center;
}

#video-element{
  width: 100%;
  height: 98%;
}

.side-container{
  width: 20%;
  height: 100%;
  border-left: 2px solid black;
  padding: 0 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}

.controls{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.far,.fas {
  font-size: 2rem;
}

#room p{
  height: 1rem;
}

#room{
  display: flex;
  flex-direction: column;
  font-size:0.75rem
}

.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

body{
  font-family: 'Nunito';
  background-color: black;
  height: 100vh;
  width: 100vw;
  color:white;
}
i{
  color:white !important
}
input{
  color:white;
  outline: none;
}

h2{
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

#mario-chat{
  max-width: 100%;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
}

#chat-window{
  overflow: auto;
  background: transparent;
  display: flex;
  flex-direction: column-reverse;
}

#output p{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback{
  height: 40px;
}

#feedback p{
  color: rgb(68, 64, 64);
}

#output strong{
  color: #575ed8;
}

form{
  display: flex;
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

.control-button{
  background:transparent;
  border:none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}


#join-room-button{
  cursor: pointer;
}
#join-room-button:disabled{
  background-color: gray;
  cursor:none
}

.room-form{
  padding: 1rem 0
}

#chat-container{
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

#movie-section{
  height: 45%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden{
  display: none;
}

#create-room,#join-room{
  position: relative;
}

#create-room:hover::after{
  content:'Create Room';
  position: absolute;
  width: fit-content;
  background:#fff;
  border-radius: 3px;
  padding: 0.2rem;
}

#join-room:hover::before{
  padding: 0.2rem;
  content:'Join Room';
  position: absolute;
  width: fit-content;
  background:#fff;
  border-radius: 3px;
  right:2rem
}

.connected-signal{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color:red
}

.connected-people{
  position: absolute;
  top:0;
  left:1rem;
}


.green{
  background-color:green;
}

.nickname{
  position: absolute;
  background-color: black;
  border-radius:0.75rem;  
  z-index: 1000;

}

#audio-section{
  top:20rem;
  position: absolute;
  width: fit-content;
  background:white;
  left: 0;
}

video{
  width: 100px;
  height: 100px;
}



@media only screen and (max-width: 1200px){
  .container{
    flex-direction: column;
    min-height: 100vh;
  }
  .video-container{
    width: 100%;
    min-height: 100vh;
  }

  .side-container{
    width: 100%;
    min-height: 100vh;
  }

}
